        font-family: Times New Roman;
        text-align: center;
    }
    *{
        box-sizing: border-box;
    }
    div{
        width:30%;
        height: 50%;
        background-color: grey;
        border:1px solid black;
        float :left;
        margin-left: 3%;
        overflow: scroll;
    }
    #top1,#top2,#top3{
        font-family: Courier ;
        width:30%;
        margin-top: 0;
        border:1px solid black;
        float:right;
        text-align: center;
    }
    #top1{
        background-color: pink;
    }
    #top2{
        background-color: red;
    }
    #top3{
        background-color: yellow;
    }
    #bottom{
        clear :left;
    }
    /******* Large Device********/
    @media(min-width:1200px){
        #d1{
            width:30%;
        }
        #d2{
            width:30%;
        }
        #d3{
            width:30%;
        }
        
    }
    /********Desktop*********/
    @media(min-width:992px) and (max-width:1199px){
         #d1{
            width:30%;
        }
        #d2{
            width:30%;
        }
        #d3{
            width:30%;
        }
    }
    /*******TAB*********/
    @media(min-width:768px) and (max-width:991px){
        #d1{
            width:41%;
        }
        #d2{
            width:41%;
        }
        #d3{
            margin-top: 3%;
            width:85%;
        }
    }
    /*********Mobile*******/
     @media(max-width:767px)   {
        #d1{
            width:85%;
        }
        #d2{
            margin-top: 3%;
            width:85%;
        }
        #d3{
            margin-top: 3%;
            width:85%;
        } 
     }